<section d-flex justifiy-content-center align-items-center>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
      />
      <div
        class="error-message"
        *ngIf="
          registerForm.get('email')?.invalid &&
          registerForm.get('email')?.touched
        "
      >
        <span *ngIf="registerForm.get('email')?.hasError('required')"
          >Email is required</span
        >
        <span *ngIf="registerForm.get('email')?.hasError('pattern')"
          >Please enter valid email</span
        >
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
      <div
        class="error-message"
        *ngIf="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
        "
      >
        <span *ngIf="registerForm.get('password')?.hasError('required')"
          >Email is required</span
        >
        <span *ngIf="registerForm.get('password')?.hasError('minlength')"
          >Please enter valid email</span
        >
      </div>
    </div>

    <!-- <div class="hobbies-container" formArrayName="hobbies">
      <div class="form-group" *ngFor="let control of getHobbiesControls(); let i = index">
        <label for="hobby-{{ i }}">Hobby {{i + 1}}</label>
        <input
          type="text"
          [formControlName]="i"
          class="form-control"
          id="hobby-{{ i }}"
          placeholder="Hobby"
        />
      </div>

      <button (click)="addHobby()">Add hobby</button>
    </div> -->

    <div class="address-container" formGroupName="address">
      <div class="form-group">
        <label for="street">Street</label>
        <input
          type="text"
          formControlName="street"
          class="form-control"
          id="street"
          placeholder="street"
        />
      </div>
      <div
        class="error-message"
        *ngIf="
          registerForm.get('street')?.invalid &&
          registerForm.get('street')?.touched
        "
      >
        <span *ngIf="registerForm.get('street')?.hasError('required')"
          >street is required</span
        >
      </div>
      <div class="form-group">
        <label for="building-number">Building number</label>
        <input
          type="text"
          formControlName="building"
          class="form-control"
          id="building-number"
          placeholder="building number"
        />
      </div>

      <div
        class="error-message"
        *ngIf="
          registerForm.get('building')?.invalid &&
          registerForm.get('building')?.touched
        "
      >
        <span *ngIf="registerForm.get('building')?.hasError('required')"
          >building is required</span
        >
      </div>
    </div>

    <!-- <div class="gender">
      <label for="male">
        <input type="radio" value="male" formControlName="gender" id="male">
        Male
      </label>
      <label for="female">
        <input type="radio" value="female" formControlName="gender" id="female">
        Female
      </label>
    </div> -->

    <div class="form-group">
      <label for="phone">phone</label>
      <input
        type="phone"
        formControlName="phone"
        class="form-control"
        id="phone"
        placeholder="phone"
      />
      <div
        class="error-message"
        *ngIf="
          registerForm.get('phone')?.invalid &&
          registerForm.get('phone')?.touched
        "
      >
        <span *ngIf="registerForm.get('phone')?.hasError('required')"
          >Phone is required</span
        >
      </div>
    </div>
    <button
      type="submit"
      [disabled]="registerForm.invalid"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</section>
